nav {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}
.main-container {
  padding-left: 5%;
  padding-right: 5%;
}
.container {
  padding-left: 15%;
  padding-right: 15%;
}
.container-fluid {
  padding-left: 25%;
  padding-right: 25%;
}
.article img {
  align-items: start;
}
img {
  float: left;
  width: 250px;
  height: 250px;
}
article p {
  text-align: right;
}
body>main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 7rem);
    padding: 1rem 0;
  }
  
  article {
    padding: 2rem;
    overflow: hidden;
  }
  
  article div {
    padding: 1rem;
  }
  
  
  @media (min-width: 1200px) {
    body>main {
      padding: 2rem 0;
    }
  
    article div {
      padding: 2rem;
      
    }
  }
  li {
    clear: left;
    display: block;
  }
  .input-submit, .input-submit2 {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 20px;
  }
  article {
    position: relative;
  }
  .input-submit2 {
    bottom: 1%;
    right: 4%;
    position: absolute;
  }
  .input-submit {
    top: 1%;
    right: 4%;
    position: absolute;
  }
  .input-submit svg, .input-submit2 svg {
    color: #5e5e5e;
    font-size: 20px;
    margin-top: 2px;
    width: 40px;
    height: 40px;
  }
  .input-submit svg :hover {
    color: #ff0000;
  }
  .input-submit2 svg :hover {
    color: #001eff;
  }
  .agreement {
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .accept {
    background-color: #00ff00;
  }
  .cancel {
    background-color: #ff0000;
  }
  .accept, .cancel {
    width: 180px;
  }
  .hire-item {
    clear: left;
    text-align: center;
  }
  .message {
    color: #ff0000;
    text-align: center;
  }
  .title {
    text-align: center;
  }
  .link-button {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 45px;
    left: 50%;
  }
  label {
    clear: left;
    padding-top: 10px;
  }
