nav {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}
.main-container {
  padding-left: 5%;
  padding-right: 5%;
}
.container {
  padding-left: 15%;
  padding-right: 15%;
}
.container-fluid {
  padding-left: 25%;
  padding-right: 25%;
}
.article img {
  align-items: start;
}
img {
  float: left;
  width: 150px;
  height: 250px;
}
article p {
  text-align: right;
}
body>main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 7rem);
    padding: 1rem 0;
  }
  
  article {
    padding: 2rem;
    overflow: hidden;
  }
  
  article div {
    padding: 1rem;
  }
  
  
  @media (min-width: 1200px) {
    body>main {
      padding: 2rem 0;
    }
  
    article div {
      padding: 2rem;
      
    }
  }
